{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>Siscon - Monitoramentos</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href={% static "css/materialize.css" %} type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href={% static "css/style.css" %} type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<!-- Header -->
<header id="header">  

<!-- Menu -->		
    <nav>
    <div class="nav-wrapper">
      <a href="/home/" class="brand-logo"><img src={% static "logo.png" %} alt="" ></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
			<li><a href="#sobre">Sobre a Empresa</a></li>
			<li><a href="/admin/sen/dadossensores/">Relatórios</a></li>
			<li><a href="#ajuda">Ajuda</a></li>
			<li><a href="#contato">Contato</a></li>
			<li><a href="/admin/login/?next=/admin/">Login</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
			<li><a href="#sobre">Sobre a Empresa</a></li>
			<li><a href="#relatorios">Relatórios</a></li>
			<li><a href="#ajuda">Ajuda</a></li>
			<li><a href="#contato">Contato</a></li>
			<li><a href="#login">Login</a></li>
      </ul>
    </div>
  </nav>
</header> 

<!-- Banner 1 -->	
<div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<br><br>
			<h1 class="header center teal-text text-lighten-2">Siscon - Monitoramentos</h1>
			<div class="row center">
				<h5 class="header col s12 light">Sistema de Controle de Sensores</h5>
			</div>
			<div class="row center">		     
				<a href="/admin/sen/dadossensores/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Relatórios</a>
			</div>
			<br><br>
		</div>
	</div>
	<div class="parallax">
		<img src={% static "background3.jpg" %} alt="" style="display: block; transform: translate3d(-50%, 235px, 0px);">
	</div>
</div>

<!-- Info Sensores -->	
<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center brown-text"><i class="material-icons">alarm_add</i></h2>
					<h5 class="center">Barômetro</h5>
					<p class="light">Instrumento que indica a pressão atmosférica, a altitude e prováveis mudanças do tempo. Existem dois tipos de uso corrente: os barômetros de mercúrio e os barômetros aneroides (metálicos). </p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center brown-text"><i class="material-icons">cached</i></h2>
					<h5 class="center">Anemômetro</h5>
					<p class="light">Aparelho que mede ou registra a velocidade dos ventos e, às vezes, também a sua direção. Há dois modelos, sendo eles o Anemômetro de Robinson e o Anemômetro sônico, além desses dois, existem os tipo copo (ou caneca) e o tipo hélice.</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
					<h5 class="center">Pluviômetro</h5>
					<p class="light">É um aparelho de meteorologia usado para recolher e medir, em milímetros lineares, a quantidade de líquidos ou sólidos (chuva, neve, granizo) precipitados durante um determinado tempo e local. Muito usado em estações meteorológicas.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Banner 2 -->	
<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<h5 class="header col s12 light">Siscon - Monitoramentos :: Sistema de Controle de Sensores</h5>
			</div>
		</div>
	</div>
	<div class="parallax">
		<img src={% static "banner2.jpg" %} alt="" style="display: block; transform: translate3d(-50%, 235px, 0px);">
	</div>
</div>

<!-- Sobre -->
<div class="container">
		<section id="sobre">
			<div class="section">
				<div class="row">
					<div class="col s12 center">
						<h2 class="center">A EMPRESA</h2>
					</div>					
					<div class="row">
						<div class="col s12 m4">
							<div class="icon-block">				
								<h5 class="center">Missão</h5>
								<p class="light">Desenvolver e fornecer sistema Web para analise e controle de dados de sensores, dentro de rigorosos padrões de qualidade e responsividade se tornando um aliado ao desenvolvimento de soluções exclusivas e aprimoramento tecnológico continuo.</p>
							</div>
						</div>
						<div class="col s12 m4">
							<div class="icon-block">				
								<h5 class="center">Visão</h5>
								<p class="light">Garantir a todos o acesso a informações coletadas servindo como fonte de pesquisa com garantia de qualidade. </p>
							</div>
						</div>
						<div class="col s12 m4">
							<div class="icon-block">
								<img src={% static "empresa.jpg" %} alt="Desenho de um boneco em frente a uma mesa que contém duas pilhas de papéis." class="circle responsive-img">
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
</div>

<!-- Ajuda -->
<div class="container">
	<section id="ajuda">
		<div class="section">
			<div class="row">
				<div class="col s12 center">			  
					<h2 class="center">AJUDA</h2>			  
				</div>
				<div class="row">
					<div class="col s12 m4">
						<div class="icon-block">				
							<h5 class="center">Relatórios</h5>
							<p class="light">Ao clicar em Relatórios na Aba de menu na parte superior da tela, todo usuário com acesso ao site, personaliza as visualizações de relatórios conforme os dados já cadastrados pelos profissionais responsáveis. </p>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="icon-block">				
							<h5 class="center">Permissão Especial</h5>
							<p class="light">As funções descritas abaixo estão disponíveis a usuários que possuam login e senha para acesso ao sistema.</p>
							<p class="light">Após efetuado o login é apresentado as opções para cada atuação.</p>
                            <p ALIGN="center">
								<ul>
									<li type="circle">Cadastro de Usuários; </li>
									<li type="circle">Cadastro de Regiões; </li>
									<li type="circle">Cadastro de Sensores; </li>
									<li type="circle">Importação de Dados; </li>
								</ul>
							</p>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="icon-block">	
							<img src={% static "ajuda.jpg" %} alt="Imagem de um teclado de computador na cor branca, e uma tecla escrito Ajuda, na cor azul." class="circle responsive-img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Contato -->
<div class="content container">
	<section id="contato">
		<div class="section">
			<div class="row">
				<div class="col s12 center">	 
					<h2 class="center">CONTATO</h2>	
					<p class="center-align light"> Envie sua mensagem!</p>
				</div>

				<!-- <section id="contato" class="main style3 secondary"> -->			
				<div class="box container 75%">

				<!-- Formulario Contato -->
					<form method="post" action="mailto:raiane.rpa@gmail.com" type="text/plain>
						
						<!-- redirect - Preencha com a URL que deve ser apresentada após o envio do formulário. -->					
						<input type="hidden"name="redirect" value="localhost:8000/siscon.html">
						<input name="recipient" value="raiane.rpa@gmail.com" type="hidden">
						<!-- required - É a lista dos campos que DEVEM ser preenchidos para que seja permitido o envio do formulário. Use os mesmos valores das instâncias name=**do seu formulário.  -->
						<input name="required" value="recipient,email,name,mensagem" type="hidden">
						<!-- order - Define a sequência/ordem em que os campos devem ser recebidos no e-mail.  -->
						<input type="hidden" name="sort" value="order:recipient,email,name,subject,mensagem">
						<!-- subject - Você pode determinar o que irá no título do e-mail que será enviado pelo formulário.  -->
						<input type="hidden" name="subject" value="Solicitação de Contato">

						
						<div class="row 50%">
							<div class="6u 12u(mobile)">
								<input type="text" name="name" id="name" placeholder="Nome" />
							</div>
							<div class="6u 12u(mobile)">
								<input type="email" name="email" id="email" placeholder="Email" aria-required="true"/>
							</div>
						</div>
						<div class="row 50%">
							<div class="12u">
								<textarea name="mensagem" id="mensagem" placeholder="Mensagem" rows="6"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<ul class="actions">
									<li>
										<input type="submit" value="Enviar Messagem" />
										<input type="reset" value="Cancelar" name="reset">
									</li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Banner 2 -->	
<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<h5 class="header col s12 light">Siscon - Monitoramentos :: Sistema de Controle de Sensores</h5>
			</div>
		</div>
	</div>
	<div class="parallax">		
		<img src={% static "background3.jpg" %} alt="Unsplashed background img 3" style="display: block; transform: translate3d(-50%, 235px, 0px);">
	</div>
</div>

<!-- Rodapé -->	
<footer class="page-footer teal">
	<div class="footer-copyright">
		<div class="container">  
			<p>Copyright &copy 2015 - Siscon Monitoramentos</p>
		</div>
	</div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src={% static "js/materialize.js" %}></script>
<script src={% static "js/init.js" %}></script>

</body>
</html>
